/* 
ICONS 
    <i class="fas fa-camera"></i>
    <i class="fas fa-home"></i>
    <i class="fas fa-envelope"></i>
    <i class="fas fa-briefcase"></i>
    <i class="fas fa-paw"></i>
    <i class="fas fa-user"></i> 
    <i class="fas fa-building"></i>
*/
* {
  margin: 0;
  padding: 0; }

*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "IM Fell DW Pica", serif;
  line-height: 1.6;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #2f3542, #a4b0be); }

/*
FONTS
font-family: 'IM Fell DW Pica', serif;
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'IM Fell English', serif;
font-family: 'Special Elite', cursive;
*/
.main-heading {
  font-size: 5rem;
  word-spacing: .5rem; }

*:link {
  font-family: "Special Elite", cursive; }

.navigation__list {
  display: flex;
  justify-content: space-evenly; }
  .navigation__list--link {
    text-decoration: none;
    list-style: none;
    text-transform: lowercase;
    color: #000;
    font-size: 3rem; }

.container {
  width: 90%;
  margin: 5rem auto;
  background-color: #f1f2f6;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.9); }

.content {
  padding: 3rem;
  background-color: #a4b0be; }
  .content .section-about {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .content .section-about .about__imageBox--image {
      background-image: linear-gradient(to right, red, green), url(../../img/headerHome.jpg);
      background-size: cover;
      height: 60rem;
      width: 70rem;
      background-blend-mode: overlay; }
    .content .section-about .about__copyBox {
      background-color: #f1f2f6;
      border-radius: .5rem;
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.9);
      width: 50rem; }
      .content .section-about .about__copyBox--copy {
        padding: 1.75rem;
        font-size: 1.7rem;
        word-spacing: .25rem; }
      .content .section-about .about__copyBox--header {
        font-size: 2rem;
        text-align: center;
        font-family: "Special Elite", cursive; }
  .content .section-showcase {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between; }
    .content .section-showcase .showcase__animal--image {
      background-image: linear-gradient(to right, green, brown), url(../../img/headerAnimal.jpg);
      background-size: cover;
      height: 50rem;
      width: 60rem;
      background-blend-mode: overlay; }
    .content .section-showcase .showcase__animal--price {
      font-size: 2.5rem;
      text-align: center;
      font-family: "Special Elite", cursive; }
    .content .section-showcase .showcase__structure--image {
      background-image: linear-gradient(to top, purple, yellow), url(../../img/headerStructure.jpg);
      background-size: cover;
      height: 50rem;
      width: 60rem;
      background-blend-mode: overlay; }
    .content .section-showcase .showcase__structure--price {
      font-size: 2.5rem;
      text-align: center;
      font-family: "Special Elite", cursive; }

.header {
  background-image: linear-gradient(to bottom, #57606f, #2f3542);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo--icon {
    font-size: 7rem; }

.navigation {
  background-color: #57606f; }
