/* 
ICONS 
    <i class="fas fa-camera"></i>
    <i class="fas fa-home"></i>
    <i class="fas fa-envelope"></i>
    <i class="fas fa-briefcase"></i>
    <i class="fas fa-paw"></i>
    <i class="fas fa-vihara"></i>
    <i class="fas fa-user"></i> 
*/
/*
FONTS
font-family: 'IM Fell DW Pica', serif;
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'IM Fell English', serif;
font-family: 'Special Elite', cursive;
*/
