/* 
ICONS 
    <i class="fas fa-camera"></i>
    <i class="fas fa-home"></i>
    <i class="fas fa-envelope"></i>
    <i class="fas fa-briefcase"></i>
    <i class="fas fa-paw"></i>
    <i class="fas fa-user"></i> 
    <i class="fas fa-building"></i>
*/
* {
  margin: 0;
  padding: 0; }

*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "IM Fell DW Pica", serif;
  line-height: 1.6;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #2f3542, #a4b0be); }

/*
FONTS
font-family: 'IM Fell DW Pica', serif;
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'IM Fell English', serif;
font-family: 'Special Elite', cursive;
*/
.main-heading {
  font-size: 5rem;
  word-spacing: .5rem; }

*:link {
  font-family: "Special Elite", cursive; }

.big-heading {
  font-size: 4.5rem;
  font-family: "Special Elite", cursive;
  text-align: center;
  margin-top: 8rem;
  border-bottom: 0.5rem solid #2f3542; }

.sub-heading {
  font-size: 2rem;
  text-align: center;
  font-family: "Special Elite", cursive; }

.navigation__list {
  display: flex;
  justify-content: space-evenly; }
  .navigation__list--link {
    text-decoration: none;
    list-style: none;
    text-transform: lowercase;
    color: #000;
    font-size: 3rem; }

.container {
  width: 90%;
  margin: 5rem auto;
  background-color: #f1f2f6;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.9); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      width: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      margin: 0;
      width: 100%; } }

.content {
  padding: 3rem;
  background-color: #a4b0be; }
  .content .section-about {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .content .section-about {
        flex-direction: column; } }
    .content .section-about .about__imageBox--image {
      background-image: linear-gradient(to right, red, green), url(../../img/headerHome.jpg);
      background-size: cover;
      height: 60rem;
      width: 70rem;
      background-blend-mode: overlay; }
      @media only screen and (max-width: 56.25em) {
        .content .section-about .about__imageBox--image {
          height: 50rem;
          width: 60rem; } }
      @media only screen and (max-width: 37.5em) {
        .content .section-about .about__imageBox--image {
          height: 50rem;
          width: 60rem;
          margin-bottom: 2rem; } }
      @media only screen and (max-width: 21em) {
        .content .section-about .about__imageBox--image {
          height: 30rem;
          width: 40rem;
          margin-bottom: 2rem; } }
    .content .section-about .about__copyBox {
      background-color: #f1f2f6;
      border-radius: .5rem;
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.9);
      width: 50rem; }
      @media only screen and (max-width: 56.25em) {
        .content .section-about .about__copyBox {
          width: 40rem; } }
      @media only screen and (max-width: 37.5em) {
        .content .section-about .about__copyBox {
          width: 60rem; } }
      @media only screen and (max-width: 37.5em) {
        .content .section-about .about__copyBox {
          width: 40rem; } }
      .content .section-about .about__copyBox--copy {
        padding: 1.75rem;
        font-size: 1.7rem;
        word-spacing: .25rem; }
  .content .section-showcase {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 21em) {
      .content .section-showcase {
        flex-direction: column; } }
    .content .section-showcase .showcase__animal--image {
      background-image: linear-gradient(to right, green, brown), url(../../img/headerAnimal.jpg);
      background-size: cover;
      height: 50rem;
      width: 60rem;
      background-blend-mode: overlay; }
      @media only screen and (max-width: 56.25em) {
        .content .section-showcase .showcase__animal--image {
          height: 40rem;
          width: 50rem; } }
      @media only screen and (max-width: 37.5em) {
        .content .section-showcase .showcase__animal--image {
          height: 20rem;
          width: 30rem; } }
      @media only screen and (max-width: 21em) {
        .content .section-showcase .showcase__animal--image {
          height: 25rem;
          width: 36rem; } }
    .content .section-showcase .showcase__animal--price {
      font-size: 2.5rem;
      text-align: center;
      font-family: "Special Elite", cursive; }
    .content .section-showcase .showcase__structure--image {
      background-image: linear-gradient(to top, purple, yellow), url(../../img/headerStructure.jpg);
      background-size: cover;
      height: 50rem;
      width: 60rem;
      background-blend-mode: overlay; }
      @media only screen and (max-width: 56.25em) {
        .content .section-showcase .showcase__structure--image {
          height: 40rem;
          width: 50rem; } }
      @media only screen and (max-width: 37.5em) {
        .content .section-showcase .showcase__structure--image {
          height: 20rem;
          width: 30rem; } }
      @media only screen and (max-width: 21em) {
        .content .section-showcase .showcase__structure--image {
          height: 25rem;
          width: 36rem; } }
    .content .section-showcase .showcase__structure--price {
      font-size: 2.5rem;
      text-align: center;
      font-family: "Special Elite", cursive; }
  .content .section-pieces .animal__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .content .section-pieces .animal__box--image {
      background-size: cover;
      background-blend-mode: overlay;
      width: 50rem;
      height: 60rem;
      margin: 2rem; }
    .content .section-pieces .animal__box--image1 {
      background-image: linear-gradient(to right, orange, purple), url(../../img/animal-1.jpg); }
    .content .section-pieces .animal__box--image2 {
      background-image: linear-gradient(to right, purple, yellow), url(../../img/animal-2.jpg); }
    .content .section-pieces .animal__box--image3 {
      background-image: linear-gradient(to right, purple, blue), url(../../img/animal-3.jpg); }
    .content .section-pieces .animal__box--image4 {
      background-image: linear-gradient(to right, yellow, pink), url(../../img/animal-4.jpg); }
    .content .section-pieces .animal__box--image5 {
      background-image: linear-gradient(to right, green, red), url(../../img/animal-5.jpg); }
    .content .section-pieces .animal__box--image6 {
      background-image: linear-gradient(to right, red, yellow), url(../../img/animal-6.jpg); }
  .content .section-pieces .structure__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .content .section-pieces .structure__box--image {
      background-size: cover;
      background-blend-mode: overlay;
      width: 50rem;
      height: 60rem;
      margin: 2rem; }
    .content .section-pieces .structure__box--image1 {
      background-image: linear-gradient(to right, orange, purple), url(../../img/structure-1.jpg); }
    .content .section-pieces .structure__box--image2 {
      background-image: linear-gradient(to right, purple, yellow), url(../../img/structure-2.jpg); }
    .content .section-pieces .structure__box--image3 {
      background-image: linear-gradient(to right, purple, orangered), url(../../img/structure-3.jpg); }
    .content .section-pieces .structure__box--image4 {
      background-image: linear-gradient(to right, yellow, pink), url(../../img/structure-4.jpg); }
    .content .section-pieces .structure__box--image5 {
      background-image: linear-gradient(to right, green, red), url(../../img/structure-5.jpg); }
    .content .section-pieces .structure__box--image6 {
      background-image: linear-gradient(to right, red, yellow), url(../../img/structure-6.jpg); }

.header {
  background-image: linear-gradient(to bottom, #57606f, #2f3542);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 21em) {
    .header {
      flex-direction: column; } }
  .header__logo--icon {
    font-size: 7rem; }

.navigation {
  background-color: #57606f; }
