.content {
    padding: 3rem;
    background-color: $primary-color-light;

    .section-about {
        margin: 2rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond(phone) {
            flex-direction: column;
        }

        .about__imageBox {

            &--image {
            background-image: url(../../img/headerHome.jpg);
            background-size: cover;
            height: 60rem;
            width: 70rem;
            @include respond(tab-port) {
                height: 50rem;
                width: 60rem;
            }
            @include respond(phone) {
                height: 40rem;
                width: 50rem;
                margin-bottom: 2rem;
            }
            @include respond(xphone) {
                height: 25rem;
                width: 35rem;
                margin-bottom: 2rem;
            }
            }
        }

        .about__copyBox {
            background-color: $primary-color-xlight;
            border-radius: .5rem;
            box-shadow: $shadow-dark;
            width: 50rem;
            @include respond(tab-port) {
                width: 50rem;
            }
            @include respond(phone) {
                width: 40rem;
            }
            @include respond(xphone) {
                width: 35rem;
            }
            &--copy {
                padding: 1.75rem;
                font-size: 1.7rem;
                word-spacing: .25rem;
            }
        }
    }

    .section-showcase {
        margin: 2rem auto;
        display: flex;
        justify-content: space-between;
        @include respond(phone) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @include respond(xphone) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .showcase__animal {

            &--image {
                background-image: url(../../img/headerAnimal.jpg);
                background-size: cover;
                height: 50rem;
                width: 60rem;
                margin-bottom: 2rem;
                @include respond(tab-port) {
                    height: 40rem;
                    width: 50rem;
                }
              
                @include respond(xphone) {
                    height: 25rem;
                    width: 36rem;
                }
            }

            &--price {
                font-size: 2.5rem;
                text-align: center;
                font-family: $font-secondary;
            }
        }

        .showcase__structure {

            &--image {
                background-image: url(../../img/headerStructure.jpg);
                background-size: cover;
                height: 50rem;
                width: 60rem;
                margin-bottom: 2rem;
                @include respond(tab-port) {
                    height: 40rem;
                    width: 50rem;
                }
           
                @include respond(xphone) {
                    height: 25rem;
                    width: 36rem;
                }
                background-blend-mode: overlay;
            }

            &--price {
                font-size: 2.5rem;
                text-align: center;
                font-family: $font-secondary;
            }
        }
    }

    .section-pieces {
        .animal__box {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &--image {
                background-size: cover;
                width: 50rem;
                height: 60rem;
                margin: 2rem;
            }
            &--image1 {
                background-image: url(../../img/animal-1.jpg);
            }

            &--image2 {
                background-image: url(../../img/animal-2.jpg);
            }

            &--image3 {
                background-image: url(../../img/animal-3.jpg);
            }

            &--image4 {
                background-image: url(../../img/animal-4.jpg);
            }

            &--image5 {
                background-image: url(../../img/animal-5.jpg);
            }

            &--image6 {
                background-image: url(../../img/animal-6.jpg);
            }
        }
        .structure__box {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &--image {
                background-size: cover;
                width: 50rem;
                height: 60rem;
                margin: 2rem;
            }
            &--image1 {
                background-image: url(../../img/structure-1.jpg);
            }

            &--image2 {
                background-image: url(../../img/structure-2.jpg);
            }

            &--image3 {
                background-image: url(../../img/structure-3.jpg);
            }

            &--image4 {
                background-image: url(../../img/structure-4.jpg);
            }

            &--image5 {
                background-image: url(../../img/structure-5.jpg);
            }

            &--image6 {
                background-image:  url(../../img/structure-6.jpg);
            }
        }
    }
}