.header {
    background-image: linear-gradient(to bottom, $primary-color-medium, $primary-color-dark);
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond(xphone) {
        flex-direction: column;
    }
    
    &__logo--icon {
        font-size: 7rem;
    }
}