//FONTS
$font-primary: 'IM Fell DW Pica', serif;
$font-secondary: 'Special Elite', cursive;

//COLORS
$primary-color-dark: #2f3542;
$primary-color-medium: #57606f;
$primary-color-light: #a4b0be;
$primary-color-xlight: #f1f2f6;
$color-white: #fff;
$color-black: #000;

//SHADOWS
$shadow-dark: 0 3rem 6rem rgba(0, 0, 0, .9);