/*
FONTS
font-family: 'IM Fell DW Pica', serif;
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'IM Fell English', serif;
font-family: 'Special Elite', cursive;
*/


.main-heading {
    font-size: 5rem;
    word-spacing: .5rem;
}

*:link {
    font-family: $font-secondary;
}

.big-heading {
    font-size: 4.5rem;
    font-family: $font-secondary;
    text-align: center;
    margin-top: 8rem;
    border-bottom: .5rem solid $primary-color-dark;
}

.sub-heading {
    font-size: 2rem;
    text-align: center;
    font-family: $font-secondary; 
}