/*
FONTS
font-family: 'IM Fell DW Pica', serif;
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'IM Fell English', serif;
font-family: 'Special Elite', cursive;
*/


.main-heading {
    font-size: 5rem;
    word-spacing: .5rem;
}

*:link {
    font-family: $font-secondary;
}